<div class="container mt-5">
  <h1 class="mb-4">Places</h1>

  <div class="list-group mb-3">
    <% @places.each do |place| %>
      <%= link_to place["name"], place_path(place), class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>

  <%= link_to 'New Place', new_place_path, class: "btn btn-primary", role: "button" %>
</div>